.blog {
  padding-top: 3rem;
  padding-bottom: 6rem;
  @media only screen and (max-width: 1024px) {
    padding: 1.25rem 2.5rem 0;
  }
  @media only screen and (max-width: 600px) {
    padding: 1.25rem 1.25rem 0;
  }
  // &__wrapper {
  //   @media only screen and (max-width: 600px) {
  //     padding: 0 2rem;
  //   }
  // }
  &__heading {
    font-size: 3rem;
    font-family: 'PlayFair Display';
    color: var(--c-black);
    margin-bottom: 0.75rem;
    text-align: center;
  }
  &__intro {
    font-size: 1.125rem;
    color: var(--c-black-md);
  }

  &__blogs {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 1.875rem 0;
    flex-wrap: wrap;
    padding: 3.125rem 0 0;
    margin-bottom: 1.25rem;

    @media only screen and (max-width: 600px) {
      flex-direction: column;
      // padding: 3rem 0 0;
      // margin-bottom: 0;
    }

    a {
      display: block;
      width: 48%;

      @media only screen and (max-width: 600px) {
        width: 100%;
      }
    }
  }

  &__blog {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    gap: 1.25rem;
    // margin-bottom: 4rem;
    // background-color: white;
    // border: 1px solid #e5e7eb;

    border-radius: 0.625rem;

    @media only screen and (max-width: 600px) {
      gap: 0;
    }
  }

  &__details {
    &-title {
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 600;
      font-size: 1.5rem;
      color: var(--c-black-dark);
      transition: color 0.3s;
      line-height: 1.4;
      word-wrap: break-word;
      @media only screen and (max-width: 600px) {
        font-size: 1.25rem;
      }
    }
    &-date {
      font-size: 1rem;
      color: var(--c-black-md);
      margin-top: 0.625rem;
      // @media only screen and (max-width: 600px) {
      //   text-align: center;
      // }
    }
  }

  &__cover {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 0.5rem;
  }
}
