.notice {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--c-primary);
  font-size: 1rem;
  line-height: 1.5;
  color: white;
  text-align: left;
  padding: 0.625rem 1.25rem;

  width: 100%;
  //   border-radius: 0.5rem;

  & > svg {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 0.625rem;
  }
}
