.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 5rem;
  @media only screen and (max-width: 1024px) {
    padding: 0 3.125rem 2.5rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 1.25rem 1.25rem 2.5rem;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: center;
  }

  &__copyright {
    font-size: 1.125rem;
    color: var(--c-black-md);
    @media only screen and (max-width: 600px) {
      font-size: 1rem;
      padding-top: 1.25rem;
    }
  }

  &__socialLinks {
    display: flex;
    gap: 1.25rem;
  }

  &__socialLink {
    display: inline-block;
    background-color: var(--c-gray-light);
    color: var(--c-text-gray);
    line-height: 0;
    padding: 0.6875rem;
    border-radius: 50%;

    svg {
      height: 1.25rem;
      width: 1.25rem;
    }

    &:hover svg {
      fill: var(--c-primary);
    }
  }
}
