.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0 0;

  @media only screen and (max-width: 1024px) {
    padding: 1.25rem 2.5rem;
  }
  @media only screen and (max-width: 600px) {
    padding: 1.25rem 1.25rem;
  }

  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    &-fixed {
      position: fixed;
    }
    &-active {
      backdrop-filter: blur(5px);
      background-color: hsla(0, 0%, 100%, 0.4);
    }
  }

  // &__wrapper-active {
  //   .navigation {
  //     padding-top: 0.625rem;
  //     padding-bottom: 0.625rem;
  //   }
  // }

  &__wrapper-active &__navlink,
  &__wrapper-active &__logo {
    color: var(--c-text-black);
    // &:hover,
    // &-active {
    //   border-bottom: 3px solid var(--c-text-black);
    // }
  }

  &__wrapper-active #burger > span {
    background-color: var(--c-text-black);
  }

  &__logo {
    color: var(--c-black-md);
    font-family: 'Playfair Display', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    transition: color 0.3s;

    @media only screen and (max-width: 500px) {
      font-size: 1.125rem;
    }
  }

  &__navlinks {
    display: flex;
    list-style: none;
    gap: 1.875rem;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  &__navlink {
    display: block;
    color: var(--c-black-md);
    font-size: 1.125rem;
    font-weight: normal;
    line-height: 1;
    padding: 0.5rem;
    border-radius: 0.3125rem;
    transition: color 0.3s;

    &:hover {
      color: var(--c-black-dark);
      background-color: var(--c-gray-light);
    }
    &.active {
      font-weight: 700;
      color: var(--c-black-dark);
    }
  }

  &__theme {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 30;
    background-color: transparent;
    border: none;

    &:hover {
      background-color: var(--c-gray-light);
    }

    & > svg {
      height: 1.25rem;
      fill: var(--c-black-dark);
    }
  }

  &__hiddenNav {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 20;
    background-color: var(--c-off-white);
    // background-color: black;
    width: 100%;
    height: 100vh;
    transform: translate(0, -100%);
    opacity: 0;
    transition: opacity 0.3s;
    visibility: hidden;

    @media only screen and (min-width: 600px) {
      display: none;
    }

    &.shown {
      opacity: 1;
      transform: translate(0, 0);
      visibility: visible;
    }

    &__navlinks {
      list-style: none;
      padding: 5rem 1.5625rem 0;
    }

    &__navlink {
      color: var(--c-black-md);
      font-size: 1.125rem;
      font-family: 'IBM Plex Sans', sans-serif;
      font-weight: 600;
      padding: 0.625rem 0;
      display: block;
      margin-bottom: 1.25rem;
      transition: color 0.3s;
    }
  }
}

// .navigation__hiddenNav.shown {
//   display: block;
//   opacity: 1;
// }

/* The progress container (grey background) */
.progress-container {
  position: fixed;
  top: 0;
  z-index: 21;
  width: 100%;
  height: 6px;
  background: transparent;
}

/* The progress bar (scroll indicator) */
.progress-bar {
  height: 6px;
  background: linear-gradient(
    to bottom right,
    var(--c-primary-dark),
    var(--c-primary-light)
  );
  width: 0%;
}
