@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(3.125rem);
  }

  80% {
    transform: translateY(-0.625rem);
  }

  100% {
    opacity: 1;
    tranform: translateY(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-1.875rem);
  }

  100% {
    opacity: 1;
    tranform: translateX(0);
  }
}
