@keyframes moveUp {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  80% {
    transform: translateY(-1rem);
  }

  100% {
    opacity: 1;
    tranform: translateY(0);
  }
}
@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(-3rem);
  }

  100% {
    opacity: 1;
    tranform: translateX(0);
  }
}
