body {
  --c-bg-light: #1a2f55;
  --c-bg-dark: #0d1d3a;

  // --c-primary: #0ea5e9;
  // --c-primary-light: #22d3ee;
  // --c-primary-dark: #0ea5e9;

  // --c-primary: #06b6d4;
  // --c-primary-light: #4ade80;
  // --c-primary-dark: #06b6d4;

  --c-primary: #0ea5e9;
  --c-primary-light: #4ade80;
  --c-primary-dark: #0ea5e9;

  --c-text-black: #1e1e1e;
  --c-text-gray: #5a5a5a;
  --c-gray-light: #dcdcdc;
  --c-off-white: #f9fafb;

  --c-blockquote: #f1f5f9;

  --c-code: #1f2937;
  --c-code-title: #2c394c;

  --c-social-icons: #5a5a5a;
  --c-table-border: #cbd5e1;

  --c-black: #000000;
  --c-black-dark: #222222;
  --c-black-md: #444444;
}

body.dark {
  // common colors
  --c-table-border: #3f3f46;
  --c-black: #ffffff;
  --c-black-dark: #eaeaea;

  // warm dark mode
  --c-off-white: #111111;
  --c-gray-light: #222222;
  --c-blockquote: #222222;
  --c-code: #18181b;
  --c-code-title: hsl(240, 6%, 13%);
  --c-black-md: #888888;

  // cold dark mode
  --c-off-white: #0d1117;
  --c-gray-light: #161b22;
  --c-blockquote: #161b22;
  --c-code: hsl(216, 28%, 10%);
  --c-code-title: hsl(216, 28%, 12%);
  --c-black-md: #72839a;
  --c-social-icons: #72839a;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// *::-webkit-scrollbar-track {
//   -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
//   background-color: var(--c-gray-light);
// }

// *::-webkit-scrollbar {
//   width: 10px;
//   height: 6px;
//   background-color: var(--c-gray-light);
// }

// *::-webkit-scrollbar-thumb {
//   background-color: var(--c-primary);
// }

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: var(--c-off-white);
  color: var(--c-black-md);
  transition: background-color 0.4s ease;

  font-family: 'Karla', 'Roboto', sans-serif;
  line-height: 1.7 !important;
}

::selection {
  background-color: var(--c-primary);
  color: #ffffff;
}

a,
a:active,
a:hover {
  text-decoration: none;
}

ul {
  list-style: disc;
}
