.paragraph {
  font-size: 2rem;
  line-height: 1.5;
  color: var(--c-black-md);
  @media only screen and (max-width: 600px) {
    font-size: 1.6rem;
  }
}

.text-left {
  text-align: left !important;
}

.heading-md {
  font-size: 3rem;
  line-height: 1.4;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--c-black-md);

  @media only screen and (max-width: 600px) {
    font-size: 2rem;
  }
}

.heading-lg {
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.4;
  font-family: "IBM Plex Sans", sans-serif;
  color: var(--c-black);
  text-align: center;

  @media only screen and (max-width: 600px) {
    font-size: 3rem;
  }
}
