
@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";

@import "components/navigations";
@import "components/intro";
@import "components/projects";
@import "components/skills";
@import "components/contact";
@import "components/footer";

@import "pages/homepage";
@import "pages/blog";
@import "pages/blogTemplate";
@import "pages/notFound";
